<!DOCTYPE html>
<html lang="en">

<head>
  <title>Led Strip</title>
  <meta charset="utf-8">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-app-bar color="deep-purple accent-4" dense dark>
          <v-app-bar-nav-icon></v-app-bar-nav-icon>
          <v-spacer></v-spacer>
          {{title}}
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>
        </v-app-bar>
        <v-container>
          <v-row align="center">
            <v-col class="text-center" cols="8" sm="6" xs='12' class='ma-0 pa-0'>
              <v-btn icon outlined large color="indigo" @click='addEffect' class='ma-1'>
                <v-icon>mdi-plus</v-icon>
              </v-btn>
              <v-btn icon outlined large color="indigo" @click='updateEffect' class='ma-1'>
                <v-icon>mdi-upload</v-icon>
              </v-btn>
              <v-btn icon outlined large color="indigo" @click='start' class='ma-1'>
                <v-icon>mdi-play</v-icon>
              </v-btn>
              <v-btn icon outlined large color="indigo" @click='stop' class='ma-1'>
                <v-icon>mdi-stop</v-icon>
              </v-btn>
            </v-col>
            <v-col class="text-center" cols="4" sm="2" xs='6' class='ma-0 pa-0'>
              <v-switch v-model='connected' :label='connected?"connected":"Disconnected"' disabled>
              </v-switch>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-list-item dense v-for="(effect, effectIndex) in effects" :key="effectIndex">
                <v-list-item-content>
                  <v-system-bar v-bind:style="effect.style"></v-system-bar>
                  <v-list-item-title>
                    <v-row>
                      <v-col cols='4'>
                        <v-select :items="Object.values(available_effects)" item-text='name' item-value='id' label="Standard" v-model="effect.name" @change="changeEffect()">
                        </v-select>
                      </v-col>
                      <v-col cols='8' sm="8" v-if="available_effects[effect.name] != undefined">
                        <div class="text-center">
                          <v-btn icon outlined large color="indigo" @click='effect.showForm = ! effect.showForm'>
                            <v-icon v-if='!effect.showForm'>mdi-menu-down</v-icon>
                            <v-icon v-if='effect.showForm'>mdi-menu-up</v-icon>
                          </v-btn>
                          <v-btn icon outlined large color="indigo" @click='moveUp(effectIndex)' :disabled="effectIndex<1">
                            <v-icon>mdi-chevron-up</v-icon>
                          </v-btn>
                          <v-btn icon outlined large color="indigo" @click='moveDown(effectIndex)' :disabled="effectIndex>effects.length-2">
                            <v-icon>mdi-chevron-down</v-icon>
                          </v-btn>
                          <v-btn icon outlined large color="error" @click='removeEffect(effectIndex)'>
                            <v-icon>mdi-delete-forever-outline</v-icon>
                          </v-btn>
                        </div>
                      </v-col>
                    </v-row>
                  </v-list-item-title>
                  <v-list-item-subtitle class='pa-4' v-show='effect.showForm'>
                    <template v-for="(option, optionsIndex) in available_effects[effect.name].options">
                      <!-- <v-slider
                        v-if="option.type === 'number'"
                        v-model="effect['options'][optionsIndex]"
                        :key="optionsIndex"
                        @change='optionChange(effect, option, effectIndex)'
                        color="indigo"
                        :label="optionsIndex"
                        :min="option.min"
                        :max="option.max"
                        thumb-label
                      ></v-slider> -->
                      <!-- <v-switch
                        v-else-if="option.type === 'boolean'"
                        dense
                        v-model="effect['options'][optionsIndex]"
                        :label="optionsIndex"
                        :key="optionsIndex"
                        @change='optionChange(effect, option, effectIndex)'>
                      </v-text-field> -->
                      <v-text-field
                        :type="option.type"
                        dense
                        clearable
                        v-model="effect['options'][optionsIndex]"
                        :label="optionsIndex"
                        :key="optionsIndex"
                        @change='optionChange(effect, option, effectIndex)'>
                      </v-text-field>

                    </template>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols='12'>
              <div class='connection' id="connection_status">
                {{connections_status}}
              </div>
              <v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        title: 'Led Strip Effects',
        serverUrl: `ws://${document.location.hostname}:8888/ledstrip`,
        ledstrip: {},
        ledstripSocket: null,
        connected: false,
        connections_status: '',
        sortableList: '',
        effects_list: '',
        effects: [],
        available_effects: {
          'rainbow': {
            id: "rainbow",
            name: "Rainbow",
            img: "https://png.pngtree.com/png-vector/20190801/ourlarge/pngtree-rainbow-icon-png-image_1645018.jpg",
            options: {
              'speed': {
                name: "Speed",
                type: "number",
                min: 0
              },
              'hue_start': {
                name: "Hue_start",
                type: "number",
                max: 360,
                min: 0
              },
              'hue_end': {
                name: "Hue_end",
                type: "number",
                max: 360,
                min: 0
              },
              'start': {
                name: "Start",
                type: "number",
                min: 0
              },
              'end': {
                name: "End",
                type: "number",
                min: 0
              },
              'forward': {
                name: "Forward",
                type: "boolean"
              },
              'blend': {
                name: "Blend",
                type: "text"
              },
            }
          },
          'runner': {
            id: "runner",
            name: "Runner",
            img: "https://www.pngitem.com/pimgs/m/43-438054_running-man-png-free-download-runner-transparent-background.png",
            options: {
              'hue': {
                name: "Hue",
                type: "number",
                max: 360,
                min: 0
              },
              'saturation': {
                name: "Saturation",
                type: "number",
                max: 1,
                min: 0,
                step: 0.01
              },
              'brightness': {
                name: "Brightness",
                type: "number",
                max: 1,
                min: 0,
                step: 0.01
              },
              'size': {
                name: "Size",
                type: "number",
                min: 0
              },
              'speed': {
                name: "Speed",
                type: "number",
                step: 0.01
              },
              'start': {
                name: "Start",
                type: "number",
                max: 100,
                min: 0
              },
              'end': {
                name: "End",
                type: "number",
                max: 100,
                min: 0
              },
              'forward': {
                name: "Forward",
                type: "boolean"
              },
            }
          },
          'static': {
            id: "static",
            name: "Static",
            img: "",
            options: {
              'hue': {
                name: "Hue",
                type: "number",
                max: 360,
                min: 0
              },
              'start': {
                name: "Start",
                type: "number",
                max: 100,
                min: 0
              },
              'end': {
                name: "End",
                type: "number",
                max: 100,
                min: 0
              }
            }
          },
        }
      },
      mounted() {
        this.addEffect()

        // var serverUrl = `ws://${document.location.hostname}:8888/ledstrip`;


          this.connectWebsocket();
      },
      methods: {
        changeEffect() {
          console.log("changeEffect");
          console.log(this.effects);

          this.effects.forEach((ele, i) => {
            console.log("Effect", i, ele.effect);
          })
        },
        start() {
          var msg = {
            type: "action",
            action: "start",
            date: Date.now()
          };

          this.ledstripSocket.send(JSON.stringify(msg));
        },
        stop() {
          var msg = {
            type: "action",
            action: "stop",
            date: Date.now()
          };

          this.ledstripSocket.send(JSON.stringify(msg));
        },
        updateEffectPreview(effect) {
          var ledStart = effect['options']['start'];
          var ledEnd = effect['options']['end'];

          if (typeof(ledStart) === "undefined") {
            ledStart = 0
          }

          if (typeof(ledEnd) === "undefined") {
            try {
              ledEnd = this.ledstrip.size;
            } catch (e) {
              ledEnd = 0
            }
          }

          if (typeof(effect['options']['hue']) !== "undefined") {
            effect['style']['backgroundColor'] = 'hsl(' + effect['options']['hue'] + ', 100%, 50%)';
          } else if (typeof(effect['options']['hue_start']) !== "undefined" && typeof(effect['options']['hue_end']) !== "undefined") {
            effect['style']['backgroundColor'] = '';
            var ledCount = ledEnd - ledStart;
            var hueCount = effect['options']['hue_end'] - effect['options']['hue_start'];
            var hueStep = hueCount / ledCount;

            var gradient_colors = ""

            for (var i = 0; i < ledCount; i++) {
              gradient_colors += ', hsl( ' + (parseInt(effect['options']['hue_start']) + parseInt(hueStep * i)) + ', 100%, 50%) ';
            }

            effect['style']['backgroundImage'] = `linear-gradient(to right ${gradient_colors})`;

            console.log("gradient_colors", gradient_colors);
          } else {
            effect['style']['backgroundColor'] = '';
          }
        },
        updateEffect() {
          var effect_list = [];

          this.effects.forEach((ele, i) => {

            if (!ele.name) {
              return
            }

            var effect = {};
            effect['name'] = ele.name;
            effect['options'] = ele.options;

            for (option in effect['options']) {
              if (this.available_effects[effect.name]['options'][option]) {
                console.log("option: ", option, this.available_effects[effect.name]['options'][option]['type']);
                if (this.available_effects[effect.name]['options'][option]['type'] == 'number') {
                  effect['options'][option] = parseFloat(effect['options'][option])
                } else {
                  effect['options'][option] = effect['options'][option]
                }
              }
            }

            effect_list.push(effect);
          })

          var msg = {
            action: "change",
            effects: effect_list,
            date: Date.now()
          };

          console.log(JSON.stringify(msg))

          try {
            this.ledstripSocket.send(JSON.stringify(msg));
          } catch (e) {
            console.log(e);
          }
        },
        addEffect() {
          var firstAvailableEffect = this.available_effects[Object.keys(this.available_effects)[0]]

          var newEffect = {
            title: `New Effect ${this.effects.length}`,
            name: firstAvailableEffect.id,
            options: {},
            showForm: false,
            style: {
              backgroundColor: ''
            }
          };

          this.effects.push(newEffect);
        },
        removeEffect(index) {
          console.log("remove index", index);
          this.effects.splice(index, 1)
        },
        moveUp(index) {
          if (index > 0) {
            this.array_move(this.effects, index, index - 1)
          }
        },
        moveDown(index) {
          if (index < this.effects.length - 1) {
            this.array_move(this.effects, index, index + 1)
          }
        },
        optionChange(effect, option, index) {
          this.updateEffectPreview(effect);
        },
        array_move(arr, old_index, new_index) {
          //https://stackoverflow.com/questions/5306680/move-an-array-element-from-one-array-position-to-another
          if (new_index >= arr.length) {
            var k = new_index - arr.length + 1;
            while (k--) {
              arr.push(undefined);
            }
          }
          arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
        },
        connectWebsocket() {
          this.ledstripSocket = new WebSocket(this.serverUrl);

          var self = this;

          this.ledstripSocket.onopen = function() {
            self.connections_status = 'Connected to ' + self.serverUrl
            self.connected = true;
          };

          this.ledstripSocket.onmessage = function(e) {
            this.connections_status = 'Message ' + e.data

            try {
              var data = JSON.parse(e.data)

              var ledstrip = data['ledstrip'];
              var effects = data['effects'];

              effects.forEach((effect, i) => {
                effect['showForm'] = false
                effect['style'] = {}

                self.updateEffectPreview(effect);
              });

              self.effects = effects
              self.ledstrip = ledstrip

              console.log('ledstrip:', ledstrip);
            } catch (e) {
              console.error(e);
            } finally {}
          };

          this.ledstripSocket.onclose = function(e) {
            self.connected = false;
            if (e.wasClean) {
              self.connections_status = 'Connection Close'
              console.info(`[close] Connection closed cleanly, code=${e.code} reason=${e.reason}`);
            } else {
              console.error('[close] Connection died');
              self.connections_status = 'Connection died'

              console.log('Socket is closed. Reconnect will be attempted in 1 second.', e);
              setTimeout(function() {
                self.connections_status = 'Connection retry'
                self.connectWebsocket();
              }, 1000);
            }
          };

          this.ledstripSocket.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Closing socket');
            self.connections_status = 'Error: ' + err.message
            self.ledstripSocket.close();
          };
        }
      }
    })
  </script>
  <style>
    .handle {
      cursor: grab;
    }
  </style>
</body>

</html>
